@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.Lma7al {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;

}

.Block {
    display: inline-block;
    flex-wrap: wrap;
    text-align: center;
    margin: 2px;
}

.Temp {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

.Time {
    text-align: center;
    font-weight: 700;
    background: rgb(9, 168, 168);
    color: white;
    font-size: 1.5em;
}

.Block:hover {
    box-shadow: 1px 1px 3px 2px rgba(4, 24, 39, 0.2);
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}