body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 10px;
    line-height: 1.6;
    color: black;
    caret-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    margin-left: 20px;
    font-size: 2rem;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.search_container {
    position: relative;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    margin: auto;
    left: 0;
    right: 0;
}

nav {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

nav a:hover {
    color: rgb(0, 182, 164);
    transform: scale(1.1);
}

.phone {
    margin-right: 20px;
    font-size: 2em;
}

h1 a {
    font-size: 2rem;
}

.search-block {
    justify-content: center;
    display: flex;
}

.search-block>button {
    margin: 0;
    padding: 0;
    color: green;
    padding-left: 5px;
    padding-right: 5px;
    height: 2em;
}

.search-block>input {
    color: green;
    margin: 0;
    padding: 0;
    text-indent: 0px;
    transition: text-indent 300ms;
    height: 2em;
    width: 5cm;
}

.search:hover {
    color: darkblue;
}

ul.catalog-path {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 50px;
    padding: 10px 0px;
    list-style: none;
    background-color: white;
}

ul.catalog-path li {
    padding-left: 8px;
    display: inline;
    font-size: 18px;
}

ul.catalog-path li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.catalog-path li a {
    color: blue;
    text-decoration: none;
}

ul.catalog-path li a:hover {
    color: darkblue;
    text-decoration: underline;
}

.radio-filters {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2em;
}

.form_radio_button {
    display: inline-block;
    margin-right: 10px;
}

.form_radio_button input[type="radio"] {
    display: none;
}

.form_radio_button label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

.form_radio_button input[type="radio"]:checked+label {
    background: rgb(1, 215, 193);
    color: white;
}

.form_radio_button label:hover {
    color: #666;
}

.catalog-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.filters-menu {
    font-size: 15px;
}

.price-count {
    margin-top: 0;
    text-align: center;
    font-size: 1.5rem;
}

.price-range {
    width: 100%;
}

.section-model h2 {
    font-size: 2.5rem;
    margin-bottom: 25px;
    margin-left: 25px;
    text-transform: capitalize;
}

.products-center {
    margin-right: 50px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.product_container {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.product {
    border: none;
    max-width: 500px;
}

a {
    text-decoration: none;
    color: black;
}

#video-picture {
    width: 200px;
}

.description {
    font-size: medium;
    text-indent: 20px;
    float: left;
    margin: 30px 30px 30px 10px;
}

.prices {
    margin-left: 18px;
    text-shadow: #666;
    font-size: large;
    color: rgb(30, 8, 51);
}

.checkboxes {
    margin-left: 20px;
    text-shadow: #666;
    font-size: medium;
    color: rgb(30, 8, 51);
}


.buy-button-card {
    margin-top: 10px;
    align-items: center;
    background-color: greenyellow;
    width: 100px;
    height: 30px;
}

.buy-button, .not-evailable-button {
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    height: 30px;
}


.buy-button {
    background-color: greenyellow;
}

.not-evailable-button {
    background-color: red;
}

.buy-button-card:hover {
    background-color: red;
}

.buy-button:hover {
    background-color: green;
}

.not-evailable-button:hover {
    background-color: darkred;
}