span{
    position: relative;
    margin: 20px 20px;
    display: block;
    top: 15px;
}

h1{
    font-family: Arial;
    color: white;
    font-size: 4em;
    background: red;
    text-align: center;
}