* {box-sizing:border-box}

.slidecontainer {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

img {
    height: 1000px;
}
.slides {
  display: none;
}

.left, .right {
  cursor: pointer;
  position: absolute;
  top: 20px;
  height: 100%;
  width: auto;
  margin-top: -22px;
  padding: 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(169, 169, 169, 0.7);
}
.left span, .right span {
    position: absolute;
    top: 50%;
}

.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.left:hover, .right:hover {
  background-color: rgba(128, 128, 128, 0.7);
}
